/*
 *= require_tree .
 *= require_self
 */

* {
  /* color: blue; */
  align-items: center;
  text-align: center;
}

.container {
  /* padding: 5% 10% 30% 30%; */
  padding-top: 5%;
  padding-left: 15%;
  padding-right: 15%;
  /* position: relative;
  z-index: 1;
  overflow: hidden; */
}

/* .background {
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  content: url('weather-background.jpg');
  opacity: 0.4;
} */

h1 {
  text-align: left;
  /* padding-left: 10%; */
}

.buttons-section {
  display: flex;
  flex-direction: column;
  /* margin: auto; */
}

form {
  /* margin: 5px; */
  padding: 5px;
}

input {
  min-width: 90%;
  border-radius: 12px;
  border: 2px;
  text-align: left;
  padding: 5px;
}

form>img {
  margin-top: 5px;
  opacity: .6;
  height: 80%
}

.button-container {
  border-radius: 12px;
  min-width: 90%;
  background-color: pink;
  margin: 5px;
  /* padding: 5px; */
}

.city-button,
.more-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 5px;
  margin: 5px;
}

.city-button:hover,
.more-button:hover {
  opacity: .5;
}

.footer-text {
  margin-top: 10px;
  font-size: 10px;
}